body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position:absolute;
}
h1 {
  width: 100%;
  height: 100vh;
  line-height: 80vh;
  text-align: center;
  display: block;
  font-size: 60px;
  margin-top: 0;
  background: linear-gradient(rgb(250, 181, 195),white);
  color: rgb(29, 29, 29);
}
.view {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
    width:300px;
    background:radial-gradient(white,rgb(255, 192, 192));
    border-left:1px solid rgb(81, 81, 81);
    border-top: 1px solid rgb(81, 81, 81);
    border-radius: 10px;
    padding: 18px;
    text-align: center;
    box-shadow: 3px 0px 5px rgb(169, 169, 169);
    margin:20px 10px;
}
.card img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /* background-color: white; */
}
.card h2{
    margin-top: 9px;
    font-weight: 700;
}
.card p{
    margin-top: 9px;
    color: rgb(175, 175, 175);
}
.card .btn{
    display: flex;
    align-items: end;
}
.card .btn button{
    margin: 5px;
    text-wrap: wrap;
    width: 50%;
    height: 50px;
    background-color:rgb(202, 202, 202);
    /* height: 30px; */
    margin-top: 9px;
    color: rgb(82, 82, 82);
    font-size: 18px;
    padding: 4px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 100ms;
}
.card .btn button:hover{
    background-color:rgb(172, 172, 172);
}
@keyframes scroll{
    from{
        opacity: 0;
        /* scale: 0.5; */
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        /* scale: 1; */
        transform: translateX(0px);
    }
}

.card{
    animation: scroll  linear;
    /* animation will happen when particular element is visible on screen */
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}


.section{
    height: 30vh;
}